<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="https://media-exp1.licdn.com/dms/image/C4E03AQH7LUUvWqX9iQ/profile-displayphoto-shrink_800_800/0/1528900411169?e=1650499200&v=beta&t=LTCMo25twwlBGLe7KV-9iTHA0z-kgzOdh1fq-P-6nP0">
    </ion-img>
      <ion-card-header>
        <ion-card-title>Assem's Activity</ion-card-title>
      </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://media-exp1.licdn.com/dms/image/C4E03AQH7LUUvWqX9iQ/profile-displayphoto-shrink_800_800/0/1528900411169?e=1650499200&v=beta&t=LTCMo25twwlBGLe7KV-9iTHA0z-kgzOdh1fq-P-6nP0">
    </ion-img>
      <ion-card-header>
        <ion-card-title>Assem's Activity</ion-card-title>
      </ion-card-header>
  </ion-card>
   <ion-card>
    <ion-img src="https://media-exp1.licdn.com/dms/image/C4E03AQH7LUUvWqX9iQ/profile-displayphoto-shrink_800_800/0/1528900411169?e=1650499200&v=beta&t=LTCMo25twwlBGLe7KV-9iTHA0z-kgzOdh1fq-P-6nP0">
    </ion-img>
      <ion-card-header>
        <ion-card-title>Assem's Activity</ion-card-title>
      </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://media-exp1.licdn.com/dms/image/C4E03AQH7LUUvWqX9iQ/profile-displayphoto-shrink_800_800/0/1528900411169?e=1650499200&v=beta&t=LTCMo25twwlBGLe7KV-9iTHA0z-kgzOdh1fq-P-6nP0">
    </ion-img>
      <ion-card-header>
        <ion-card-title>Assem's Activity</ion-card-title>
      </ion-card-header>
  </ion-card>
</ion-content>
