<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar class="profile-pic">
    <ion-img src="https://media-exp1.licdn.com/dms/image/C4E03AQH7LUUvWqX9iQ/profile-displayphoto-shrink_400_400/0/1528900411169?e=1652313600&v=beta&t=KRBm5HGWi6F7vfrMjPOBfTvk09aEYEX8QdnctmUF1K4"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Assem ElGamil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Software Engineer
    </ion-card-content>
    <ion-card-content>
      assemessam.ae@gmail.com
    </ion-card-content>

  </ion-card>
</ion-content>
